:root{
    --blue1: #43689D;
    --blue2: #0C448D;
    --orange: #C95C36;
    --white: #EBEBEB;
    --grey: #BFBFBF;
}

html{
    margin:0;
    padding:0;
    border: 0;
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: var(--white);  
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;    
}

nav{
    background-color: var(--blue2);
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    /* filter: alpha(opacity=50); */
    opacity: 0;
    height: 50px;
    display: grid;
    grid-template-areas: ". a1 a2 a3 . a4 a5";
    grid-template-columns: auto min(120px, 20%) min(120px, 20%) min(120px, 20%) auto 50px 60px;
    justify-items: stretch;
}
@media(hover:hover){
    nav{
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
        -ms-overflow-style: none;
        scrollbar-width: none;
        animation:navA 3s ease-in-out;
        -moz-animation:navA 3s ease-in-out;
        -webkit-animation:navA 3s ease-in-out;   
    }          
}
@media (hover: none){
    nav{opacity:100% !important}
}
@keyframes navA{
    from {opacity: 100%;} 
    to{opacity: 0%;} 
}
@-moz-keyframes navA{
    from {opacity: 100%;} 
    to{opacity: 0%;} 
}
@-webkit-keyframes navA{
    from {opacity: 100%;} 
    to{opacity: 0%;} 
}

body::-webkit-scrollbar {
    display: none;
}

#a1 {grid-area:a1;}
#a2 {
    border: solid rgba(255, 255, 255, 0.8);
    border-width: 0 3px;
    grid-area:a2;
}
#a3 {grid-area:a3;}
#a4 {
    grid-area:a4;
    padding: 0;
}
#a5 {
    grid-area:a5;
    padding: 0 10px 0;
    margin: 10px 50px 10px 0;
    border: solid rgba(255, 255, 255, 0.8);
    border-width: 0 0 0 3px;
}

nav:hover{
    opacity: 100%;
}

nav > a{
    text-align: center;
    margin: auto 0;
    padding: 5% 0;
    color: var(--white);
    text-decoration: none;
    height: 30px;
}

a > img{
    max-width: 30px;
    height: 30px;
}

header{
    margin: 0;
    padding: 50px 0 0 0;
    border: 0;
    background-color: var(--blue1);
    height: 100vh;
    scroll-snap-align: start;
    display: grid;
    grid-template-areas: "title titlebg";
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}

.title{
    grid-area: title;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin:0 0 0 7%;
}

#logo{
    width: 70%;
    margin: 20% 0 0 0;
}
#hello {
    margin: 0;
    padding: 0 0 0px 0;
    color: var(--white);
    font-size: 180%;
    text-align: center;
}
#subt{
    margin: 0;
    font-weight: lighter;
    color: var(--white);
    grid-area: sub;
    text-align: center;
    border: var(--white) solid;
    border-width: 2px 0;
    align-self: stretch;
    padding: 5px 0;
}

#arrow{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas:
        "sub sub sub"
        ". middle .";
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 45px 100%;
}

#middle{
    grid-area: middle;
    background-color: var(--white);
}

.titlebg{
    grid-area: titlebg;
    /* margin-right: 10%; */
    position: relative;
    overflow: hidden;
}

#ship{
    position: absolute;
    height: 20%;
    top: 20%;
    right: 30%;
}

#lth{
    position: absolute;
    height: min(70%, 400px);
    right: 0;
    bottom: 20%;
}

#waves1{
    position: absolute;
    top: 17%;
    left: 14%;
    height: 5%;
}

#waves2{
    position: absolute;
    bottom: 15%;
    left: 10%;
    height: 4%;
}

#bouy{
    position: absolute;
    height: 14%;
    top: 42%;
    left: 5%;
}

#yacht{
    position: absolute;
    height: max(20%, 50px);
    top: 26%;
    /* right: -15%; */
    animation:yachtA 50s cubic-bezier(0,.67,.92,.25) infinite;
    -moz-animation:yachtA 50s cubic-bezier(0,.67,.92,.25) infinite;
    -webkit-animation:yachtA 50s cubic-bezier(0,.67,.92,.25) infinite;             
}

@keyframes yachtA{
    from {right: -50%;} 
    to{right: 120%;} 
}
@-moz-keyframes yachtA{
    from {right: -50%;} 
    to{right: 120%;} 
}
@-webkit-keyframes yachtA{
    from {right: -50%;} 
    to{right: 120%;} 
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    padding: 50px 0 0 0;
}

aside{
    width: 33%;
    box-sizing: border-box;
}

.box{
    margin: 15px 2% 15px 10%;
    background-color: white;
    border-radius: 1px;
    /* border: solid var(--blue2);
    border-width: 0 0 0 10px; */
    box-shadow: 0px 14px 24px -11px rgba(138,138,138,0.58);
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.self{
    margin: 10% 0 0;
}

#foto{
    width: 100%;
}

figcaption > h2{
    margin: 0;
    text-align: center;
    border: var(--blue1) solid;
    border-width: 0 0 2px;
}

figcaption > h3{
    margin: 0 0 30px;
    text-align: center;
}

#city{
    border: var(--blue1) solid;
    border-width: 0 0 2px;
    padding: 10px 0 10px;
    margin: auto;
    text-align: center;
}

.box > *{
    width: 75%;
}

article{
    margin: 15px 3% 15px 15px;
    width: 66%;
    display: grid;
    grid-template-areas: 
    "bio bio"
    "edu exp"
    "skills exp"
    "skills lang"
    "hobby hobby";
    gap: 15px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

article::-webkit-scrollbar {
    display: none;
}

.boxS, .boxL{
    background-color: white;
    border-radius: 1px;
    border: solid var(--blue1);
    border-width: 0 0 0 10px;
    box-shadow: 0px 14px 24px -11px rgba(138,138,138,0.58);
    padding: 5px;
    box-sizing: border-box;
    /* height: 40vh; */
}

#bio{
    grid-area: bio;
}

#edu{
    grid-area: edu;
}

#exp{
    grid-area: exp;
}

#skills{
    grid-area: skills;
}

#hobby{
    grid-area: hobby;
}

.bottom{
    min-height: 100vh;
    scroll-snap-align: start;
    padding: 50px 0 0 0;
    display: grid;
    grid-template-areas: 
    "bg contact ."
    "footer footer footer";
    grid-template-rows: 85% 15%;
    grid-template-columns: 50% 30% 20%;
    /* border: var(--blue1) solid;
    border-width: 3px 0 0 0; */
}

#bg{
    grid-area: bg;
    margin: 0 0 10% 30%;
    align-self: center;
}

#boat{
    width: 80%;
}

.contact{
    grid-area: contact;
    align-self: center;
    background-color: white;
    padding: 10% 15px 5%;
    box-shadow: 0px 14px 24px -11px rgba(138,138,138,0.58);
}
.contact > h3{
    margin: 2px;
    font-size: 2rem;
}
form{
    border: var(--blue1) solid;
    border-width: 1px 0 0 0;
    padding: 20px 3px 20px;
}

input[type=text] {
    height: 40px;
}

input[type=text], textarea{
    border: var(--blue1) solid 1px;
    border-radius: 0;
    font-family:'Raleway', sans-serif;
    width: 100%;
    padding: 5px;
    outline: none;
    font-size: 1rem;
}

textarea{
    resize: none;
}

#rodo{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin: 10px 0 15px;
}

input[type=checkbox]{
    margin: 0 10px 0 0;
}

#sub{
    width: 100%;
    padding: 10px;

}

#sub:hover{
    background-color: var(--blue1);
    border-style: solid;
}

footer{
    background-color: var(--orange);
    grid-area: footer;
    text-align: right;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.media{
    width: 139px;
}

#tag{
    margin: 0;
    text-align: center;
}

.externals{
    border: black solid;
    border-width: 1px 0 0 0;
    margin: 0;
}

.externals > a{
    text-decoration: none;
    color:black;
    margin: 0;
    font-size: 3em;
}
@media only screen and (max-width : 1024px) and (max-aspect-ratio : 8/7) {
    header{
        grid-template-areas: 
        "titlebg"
        "title";
        grid-template-rows: 30% 70%;
        grid-template-columns: 100%;
    }
    .title{
        margin: 0 5% !important;
    }
    #logo{
        margin: 10px 0 0 0 !important;
    }   
    article{
        scroll-snap-align: start;
        scroll-margin-top: 70px;
        width: 96%;
        margin: 15px 2% 15px 2%;
        grid-template-areas: 
        "bio"
        "edu"
        "exp"
        "skills"
        "lang"
        "hobby";
        grid-template-columns: 100%;
    } 
}

@media only screen and (max-width : 512px){
    main{
        flex-flow: column;
        height: unset;
    }
    aside{
        width: 100%;
    }
    .box{
        margin: 15px 2% 15px 2%;
    }
    
    article{
        scroll-snap-align: start;
        scroll-margin-top: 70px;
        width: 96%;
        margin: 15px 2% 15px 2%;
        grid-template-areas: 
        "bio"
        "edu"
        "exp"
        "skills"
        "lang"
        "hobby";
        grid-template-columns: 100%;
    }

    .bottom{
        grid-template-areas:
        "bg"
        "contact"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: 15% 70% 15%;
    }
    
    .contact{
        margin: 0 2%;
    }

    #bg{
        margin: 10px 26% 0;   
    }
    #boat{
        width: 100%;
    }
}